<ion-header>
  <ion-navbar>
    <ion-title>
      <img alt="logo" height="40" src="assets/img/logo.png" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Configurar Alarma</h2>

  <ion-list>
    <ion-list-header>Alarmas Disponibles</ion-list-header>
    <ng-container *ngFor="let alarm of availableAlarms; let i = index">
      <ion-item *ngIf="alarm ? true: false" (click)="selectAlarm(i)">
        <ion-icon name="play" item-left></ion-icon>
        {{alarm.name}}
        <ion-icon *ngIf="i === alarmId" name="checkmark" item-right style="color: green;"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full large (click)="saveAlarm()">GUARDAR</button>
</ion-footer>
